<HeadContent>
    <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js"></script>
</HeadContent>


<dialog class="shift-dialog" id="@ElementId">
    <div class="dialog-wrap item" data-layout-id="@Id">
        <CascadingValue Value="_instance">
            @ChildContent
        </CascadingValue>
    </div>
</dialog>
