
<dialog class="shift-dialog" id="@ElementId">
    <div class="dialog-wrap item" data-layout-id="@Id">
        <CascadingValue Value="_instance">
            @ChildContent
        </CascadingValue>
    </div>
</dialog>
