@inherits MudButton
@namespace ShiftSoftware.ShiftBlazor.Components
@implements IDisposable

<div class="button-shortcut">
    @{
        base.BuildRenderTree(__builder);
    }
 
    @if (KeyboardKey != null && !(ShiftEntityForm is IShortcutComponent comp && ShiftList != null))
    {
        <div class="shortcut-key">
            @IShortcutComponent.CleanKeyName(KeyboardKey.ToString()!)
        </div>
    }
</div>

@code {
    [CascadingParameter(Name = "ShiftForm")]
    public ComponentBase? ShiftEntityForm { get; set; }

    [CascadingParameter]
    public IShiftList? ShiftList { get; set; }

    [Parameter]
    public KeyboardKeys? KeyboardKey { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (KeyboardKey != null && ShiftEntityForm is IShortcutComponent comp && ShiftList == null)
        {
            comp?.Shortcuts.TryAdd(KeyboardKey.Value, OnClick);
        }
    }

    private bool _disposed;
    public new void Dispose()
    {
        if (_disposed) return;
        if (KeyboardKey != null && ShiftEntityForm is IShortcutComponent comp && ShiftList == null)
        {
            comp?.Shortcuts.Remove(KeyboardKey.Value);
        }
        _disposed = true;
        base.Dispose();
    }
}