@namespace ShiftSoftware.ShiftBlazor.Components
@using System.Text.RegularExpressions
@using ShiftSoftware.ShiftEntity.Core.Localization
@using ShiftSoftware.ShiftEntity.Model.Dtos
@typeparam T where T : ShiftEntityDTOBase, new()
@typeparam TProperty
@inherits PropertyColumnExtended<T, TProperty>
@inject SettingManager SettingManager

@{
    base.BuildRenderTree(__builder);
}

@code{
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        base.CellTemplate = Template;
    }

    private object? GetCellContent(object? content)
    {
        if(content is string)
        {
            var language = SettingManager.GetLanguage();
            return PropertyLocalizer.LocalizeProperty(content.ToString(), language.CultureName);
        }

        return content;
    }

    public RenderFragment<CellContext<T>> Template => (context) =>
    @<span>
        @GetCellContent(base.CellContent(context.Item))
    </span>;
}

