.shift-modal-background + .mud-dialog {
    overflow: hidden;
}

.shift-scrollable-content-wrapper {
    max-height: calc(100vh - 175px);
    overflow: auto;
}

.shift-toolbar-header > :last-child {
    margin-inline-end: -12px;
}

.user-avatar-dropdown .mud-list-item-icon {
    min-width: 40px;
}

.uploader-thumbnail svg {
    filter: drop-shadow(0 0 4px black);
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.multi-select input.mud-input-root::placeholder {
    opacity: 1 !important;
}

.is-deleted {
    background-color: #ffc7c7;
}

.is-deleted:hover {
    background-color: #ffaeae !important;
}

.button-column-button {
    color: var(--mud-palette-primary);
}

.button-column-button:hover {
    text-decoration: underline;
}

.mud-table-container {
    padding-bottom: 6px;
}

.foreign-column .filter-button.filtered {
    display: none;
}

.foreign-column .column-header {
    font-weight: 500;
    font-size: 14px;
}

.foreign-column .sortable-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shift-modal-background + .mud-dialog footer {
    box-shadow: 0 -5px 5px 0px #ffffff;
    position: relative;
}

.shift-modal-background + .mud-dialog header {
    box-shadow: 0 5px 5px 0px #ffffff;
    position: relative;
    z-index: 1;
}

.button-shortcut {
    position: relative;
}

.shortcut-key {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    padding: 1px 5px;
    border-radius: 10px;
    display: none;
    opacity: 0.7;
    pointer-events: none;
}

.show-keys .shortcut-key {
    display: block;
}

.mud-table .mud-table-pagination {
    display: flex;
    align-items: center;
}

th.mud-table-cell.sticky-left, th.mud-table-cell.sticky-right {
    z-index: 5 !important;
    background-color: var(--mud-palette-background-gray) !important;
}

.shift-autocomplete {
    position: relative;
}

.shift-autocomplete .autocomplete-tags {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    max-width: 100%;
}

.shift-autocomplete .mud-input-adornment-icon-button {
    z-index: 1;
}

/* hide the native upload button in SfFileManager because we have our own implementation */
.e-filemanager .e-toolbar-item[id$='upload'] {
    display: none !important;
}

.e-filemanager .e-fe-grid-icon[aria-label^="Directory"] ~ [aria-colindex="4"] {
    color: transparent !important;
}

.drop-area-active {
    border: 1px dashed blue;
}

.file-uploader-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    opacity: 0;
}

.file-uploader-progress-dialog {
    max-height: 85vh;
    max-width: 70vw;
    overflow-y: auto;
}

.file-uploader-progress-dialog .upload-list {
    padding: 20px;
}

/* ============== File Explorer ============== */

.selected-sort-item * {
    font-weight: 500 !important;
}

.file-explorer {
    --file-box-size: 150px;
    --file-icon-size: 100px;
}

.file-explorer .main-window {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.file-explorer .breadcrumb {
}

    .file-explorer .breadcrumb .mud-typography {
        margin: 0 5px;
    }

    .file-explorer .breadcrumb .mud-button {
        min-width: initial;
    }

    .file-explorer .breadcrumb button:disabled {
        color: var(--mud-palette-text-primary) !important;
    }

.file-explorer .file-listing {
    overflow: auto;
    min-height: 200px;
}

    .file-explorer .file-listing.icons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--file-box-size), 1fr));
        gap: 10px;
        padding: 20px;
        height: 100%;
    }

    .file-explorer .file-listing.small {
        --file-box-size: 400px;
        --file-icon-size: 25px;
    }

    .file-explorer .file-listing.medium {
        --file-box-size: 100px;
        --file-icon-size: 70px;
    }

    .file-explorer .file-listing.extra-large {
        --file-box-size: 200px;
        --file-icon-size: 150px;
    }

.file-explorer-item {
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    padding: 4px;
    position: relative;
}

.file-listing.icons .file-explorer-item {
    width: var(--file-box-size);
    height: var(--file-box-size);
}

.file-listing.icons.small .file-explorer-item {
    display: flex;
    align-items: center;
    height: auto;
    gap: 6px;
}

    .file-listing.icons .file-explorer-item .mud-icon-root,
    .file-listing.icons .file-explorer-item .mud-image {
        height: var(--file-icon-size);
        width: var(--file-icon-size);
    }

.file-explorer .mud-table tbody td:first-child .mud-icon-root,
.file-explorer .mud-table tbody td:first-child .mud-image {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.file-explorer-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-explorer-item:hover {
    background-color: #e8eaea;
}

.file-explorer-item.deleted,
.file-explorer .mud-table-row.deleted {
    background-color: #ffc7c7 !important;
}

.file-explorer-item.selected,
.file-explorer .mud-table-row.selected {
    background-color: #83b6f2 !important;
}

.file-explorer-item img {
    border-radius: 5px;
}

.file-explorer .quick-access-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-explorer .loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-explorer .no-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
}

    .file-explorer .no-files .mud-icon-root {
        color: #f1ce69;
    }

.file-explorer .change-view .mud-menu .mud-button-root {
    width: 25px;
}

.file-explorer .context-menu {
    position: fixed;
}

.file-explorer .mud-table thead th:first-child {
    width: 100%;
}

.file-explorer .mud-table thead th:not(:first-child),
.file-explorer .mud-table tbody td:not(:first-child) {
    white-space: nowrap;
}

.file-explorer .mud-table .mud-table-container {
    padding: 0 !important;
}

.file-explorer .column-header .header-text {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
}

.file-explorer .mud-table-row {
    cursor: pointer;
}

/* ============== File Explorer end ============== */
