.shift-scrollable-content-wrapper {
    max-height: calc(100vh - 175px);
    overflow: auto;
}

.shift-toolbar-header > :last-child {
    margin-inline-end: -12px;
}

.user-avatar-dropdown .mud-list-item-icon {
    min-width: 40px;
}

.uploader-thumbnail svg {
    filter: drop-shadow(0 0 4px black);
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.multi-select input.mud-input-root::placeholder {
    opacity: 1 !important;
}

.is-deleted {
    background-color: #ffc7c7;
}

.is-deleted:hover {
    background-color: #ffaeae !important;
}