.shift-scrollable-content-wrapper {
    max-height: calc(100vh - 175px);
    overflow: auto;
}

.shift-toolbar-header > :last-child {
    margin-inline-end: -12px;
}

.e-pager div .mud-select .mud-input {
    display: inline-flex;
}

.e-pager div .mud-input-adornment-end {
    display: flex;
}

.shiftlist-pagination button.mud-button {
    min-width: 50px;
}

.e-grid.multiline td.e-rowcell {
    white-space: break-spaces;
}

.e-grid .is-deleted .e-rowcell {
    background-color: #ffc7c7;
}

.e-grid .is-deleted:hover .e-rowcell,
.e-grid .is-deleted .e-rowcell.e-active {
    background-color: #ffaeae !important;
}

.user-avatar-dropdown .mud-list-item-icon {
    min-width: 40px;
}

.e-grid .e-emptyrow td {
    padding-inline-start: 21px !important;
}

.uploader-thumbnail svg {
    filter: drop-shadow(0 0 4px black);
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.multi-select input.mud-input-root::placeholder {
    opacity: 1 !important;
}