@using ShiftSoftware.ShiftEntity.Model
@namespace ShiftSoftware.ShiftBlazor.Components

@if (NestedLists == null)
{
    <MudListItem T="object">
        @MessageBody
    </MudListItem>
}
else
{
    <MudListItem T="object" NestedList="@NestedLists">
        @MessageBody
    </MudListItem>
}


@code {
    [Parameter, EditorRequired]
    public Message Message { get; set; } = default!;

    public RenderFragment MessageBody =>
    @<MudText>
        <span style=@(string.IsNullOrWhiteSpace(Message.Body) ? "" : "font-weight: bold;")>@Message.Title</span>
        @if (!string.IsNullOrWhiteSpace(Message.Body))
        {
            <span>: @Message.Body</span>
        }
    </MudText>;

    private RenderFragment? NestedLists
    {
        get
        {
            if (Message.SubMessages != null && Message.SubMessages.Count > 0)
            {
                return 
                @<text>
                    @foreach (var msg in Message.SubMessages)
                    {
                        <MessageList Message="@msg" />
                    }
                </text>;
            }
            return null;
        }
    }
}
