@using ShiftSoftware.ShiftBlazor.Filters.Models
@inherits FilterUIBase

<div style="width: 100%;">

	<MudNumericField T="double?"
					 Label="@Filter.Field"
					 Value="Filter.Value as double?"
					 ValueChanged="ValueChanged"
					 Clearable
					 Adornment="Adornment.End"
					 AdornmentIcon="@Icons.Material.Filled.Settings"
					 OnAdornmentClick="OpenMenu" />

	<MudPopover Open="IsMenuOpen" RelativeWidth AnchorOrigin="Origin.BottomLeft">

		<MudList T="ODataOperator" SelectedValue="Filter.Operator" SelectedValueChanged="OperatorChanged">
			<MudListItem Value="ODataOperator.Equal">Equal</MudListItem>
			<MudListItem Value="ODataOperator.NotEqual">Not Equal</MudListItem>
			<MudListItem Value="ODataOperator.GreaterThan">GreaterThan</MudListItem>
			<MudListItem Value="ODataOperator.GreaterThanOrEqual">GreaterThanOrEqual</MudListItem>
			<MudListItem Value="ODataOperator.LessThan">LessThan</MudListItem>
			<MudListItem Value="ODataOperator.LessThanOrEqual">LessThanOrEqual</MudListItem>
			<MudListItem Value="ODataOperator.StartsWith">Starts With</MudListItem>
			<MudListItem Value="ODataOperator.EndsWith">Ends With</MudListItem>
			<MudListItem Value="ODataOperator.Contains">Contains</MudListItem>
			<MudListItem Value="ODataOperator.NotContains">Not Contains</MudListItem>
			<MudListItem Value="ODataOperator.IsNotEmpty">Is Set</MudListItem>
			<MudListItem Value="ODataOperator.IsEmpty">Is Not Set</MudListItem>
		</MudList>

	</MudPopover>
</div>

<MudOverlay Visible="IsMenuOpen" AutoClose OnClosed="CloseMenu" />

@code {


	protected override void OnInitialized()
	{
		// Filter.Value = Value;
		base.OnInitialized();
	}
	
}
