@using Microsoft.JSInterop
@using MudBlazor.Utilities
@implements IAsyncDisposable

@namespace ShiftSoftware.ShiftBlazor.Components

<div class="@Classname" style="@Style" @ref="ElementRef">
    <div class="@InnerClass" style="@InnerStyle">
        @ChildContent
    </div>
</div>

@code {
    [Inject] private IJSRuntime JsRuntime { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<EventArgs> OnTransitionEnd { get; set; }

    [Parameter]
    public bool Hide { get; set; }

    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public bool? Toggle { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public string? InnerClass { get; set; }

    [Parameter]
    public string? InnerStyle { get; set; }

    [Parameter]
    public bool Auto { get; set; } = true;

    public bool? DisplayContent { get; set; }
    private DotNetObjectReference<SlideDown>? objRef;

    private ElementReference? ElementRef { get; set; }
    private bool IsRendered { get; set; } = false;

    private string Classname => new CssBuilder("slide-down")
        .AddClass(Class, Class != null)
        .AddClass("first-render", !IsRendered)
        .AddClass("show", DisplayContent)
        .Build();

    protected override void OnInitialized()
    {
        if (Auto && DisplayContent == null)
            DisplayContent = true;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsRendered = true;
            objRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("registerSlideDownEvent", ElementRef, objRef);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public void TransitionEndHandler()
    {
        OnTransitionEnd.InvokeAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (objRef != null)
        {
            await JsRuntime.InvokeVoidAsync("removeSlideDownEvent", ElementRef);
            objRef.Dispose();
        }
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.TryGetValue(nameof(Hide), out bool hide);
        parameters.TryGetValue(nameof(Show), out bool show);
        parameters.TryGetValue(nameof(Toggle), out bool? toggle);

        if (DisplayContent == true && hide && hide != Hide)
            DisplayContent = false;

        if (DisplayContent != true && show && show != Show)
            DisplayContent = true;

        if (Toggle != toggle && toggle != null)
            DisplayContent = toggle;

        return base.SetParametersAsync(parameters);
    }
}
