@inherits LayoutComponentBase
@inject SettingManager SettingManager

<MudRTLProvider RightToLeft="SettingManager.GetLanguage().RTL">

    <AddMudProviders />

    <main>
        @Body
    </main>

</MudRTLProvider>